form {
  width: 75%;
  margin:auto;
  padding:15px;
  border:1px solid black;
  background:rgba(0,50,0,.25);
  border-radius: 15px
}
label {
  width:25%;
}
label, input {
  display: inline-block;
}
input {
  width: 75%;
}
input[type=submit] {
  width:100%;
}

.header {
  text-align: center;
  background:rgba(80,0,0,.3);
  position: absolute;
  top:0;
  left:0;
  right:0;
}

body {
  margin-top:130px;
}

.day {
  border:1px solid black;
  margin:20px;
  padding:5px;
  border-radius:10px;
  text-align: center;
  cursor:pointer;
}
